<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin.css">
    <title>BLOGMINEZ</title>
</head>
<body>
    <h1>Hi!!! Admin Welcome to BLOGMINZ</h1>
    <form id="create-form" action="/admin9353580260madBLOGMINEZ" method="post">
        <input type="text" id="title" name="title" placeholder="Title">
    </br>
        <textarea type="text" id="content" name="content" placeholder="Content"></textarea>
    </br>
        <input type="text" id="author" name="author" placeholder="Author">
    </br>
        <button type="submit">Create Post</button>
      </form>

      <footer class="footer">
        &copy; 2023 BLOGMINEZ. Developed by MOHAMMED ASIF RAZA.
      </footer>
</body>
</html>