<!DOCTYPE html>
<html>
<head>
  <title>Contact Us - BLOGMINEZ</title>
  <link rel="stylesheet" href="contact.css">
</head>
<body>
  <div class="container">
    <h1>Contact Us</h1>
    <p>If you have any questions, suggestions, or feedback, feel free to get in touch with us. We'd love to hear from you!</p>
    
    <div class="contact-details">
      <p>Email: <a href="mailto:masifraza.asif@gmail.com">Click here to Contact US</a></p>
    </div>

    <li class="back-btn"><a href="/">Back to HOME</a></li>
  </div>
  <footer class="footer">
    &copy; 2023 BLOGMINEZ. Developed by MOHAMMED ASIF RAZA.
  </footer>
</body>
</html>
