<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="index.css">
  <title> BLOGMINEZ</title>
</head>
<body>
 
  
 
  
  <div class="container">
    <button id="menu-button"><i class="fas fa-bars"></i> Menu</button>
    <nav class="menu">
      
      <ul>
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/about"><i class="fas fa-info-circle"></i> About US</a></li>
       
        <li><a href="/contact"><i class="fas fa-envelope"></i> Contact US</a></li>
      </ul>
    </nav>
    <h1>WELCOME TO BLOGMINZ!!!!!</h1>
   
    <div id="posts"></div>
   
  </div>
  <script src="index.js"></script>

  <footer class="footer">
    &copy; 2023 BLOGMINEZ. Developed by MOHAMMED ASIF RAZA.
  </footer>
  
</body>
</html>
